.iconSmall {
    width: 14px;
    height: 14px;
}

.iconLarge {
    width: 34px;
    height: 34px;
    margin-top: 10px;
    margin-left: 10px;
}

.iconLarge:hover {
    cursor: pointer;
}

.btn:hover {
    background-color: var(--mantine-color-gray-1);;
}